@import url(grid.css);
@import url(header.css);
@import url(headerSelectedFont.css);

:root{
    --clr-body-bg: hsl(0, 0%, 12%);
    --clr-text: rgb(173, 169, 169);

    --clr-grid-bg: rgb(88, 68, 68);
    --border-top: var(--clr-text);
    --grid-max-width: 150px;
    
    --dark-opacity: 0%;
    --light-opacity: 0%;
    --blue-opacity: 0%;
    --disco-opacity: 0%;
}


/* general */
body{
    margin-top: 0;
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: var(--clr-body-bg);
}

h1, h2, h3 {
    text-align: center;
    color: var(--clr-text);
    line-height: 1.1;
}
p{
    color: var(--clr-text);
    font-size: 0.9em;
}
.top-text{
    width: 50%; 
    margin-right:auto; 
    margin-left: auto;
}



/* Don't change. For screen reader users */
.sr-only{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
